<!-- =============== Navigation ================ -->
<div class="container">
  <div class="navigation">
    <ul>
      <li>
        <a href="#" id="logo">
                        <span class="icon">

                        </span>
        </a>
      </li>

      <li>
        <a href="${pageContext.request.contextPath}">
                        <span class="icon">

                        </span>
          <span class="title">Dashboard</span>
        </a>
      </li>

      <li>
        <a href="Form">
                        <span class="icon">

                        </span>
          <span class="title">Glycemies</span>
        </a>
      </li>

      <li>
        <a href="ingredients">
                        <span class="icon">

                        </span>
          <span class="title">Ingredients</span>
        </a>
      </li>

      <li>
        <a href="#">
                        <span class="icon">

                        </span>
          <span class="title">Help</span>
        </a>
      </li>

      <li>
        <a href="#">
                        <span class="icon">

                        </span>
          <span class="title">Settings</span>
        </a>
      </li>

      <li>
        <a href="#">
                        <span class="icon">

                        </span>
          <span class="title">Password</span>
        </a>
      </li>

      <li>
        <a href="#">
                        <span class="icon">

                        </span>
          <span class="title">Sign Out</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="main">

  <router-outlet></router-outlet>
</div>
