<table>
  <thead>
  <tr>
    <th>Id Glycémie</th>
    <th>Valeur Before</th>
    <th>Valeur After</th>
    <th>Date</th>
    <th>Heures</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let glycemie of glycemies">
    <td>{{ glycemie.idGlycemie }}</td>
    <td>{{ glycemie.valeurBefore }}</td>
    <td>{{ glycemie.valeurAfter }}</td>
    <td>{{ glycemie.date }}</td>
    <td>{{ glycemie.heurs }}</td>
    <td>
      <button type="button" (click)="deleteGlycemie(glycemie.idGlycemie)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
